

<form action="/done-form" method="post">
    <% selectedSdgs.forEach(function(selectedSdg) { %>
		<article class="selected-<%= selectedSdg.number %> ">
			<picture class="sdg-picture">
				<source srcset="https://fdnd-agency.directus.app/assets/<%= selectedSdg.icon %>?format=avif" type="image/avif">
				<source srcset="https://fdnd-agency.directus.app/assets/<%= selectedSdg.icon %>?format=webp" type="image/webp">
				<img src="https://fdnd-agency.directus.app/assets/<%= selectedSdg.icon %>" alt="<%= selectedSdg.title %>" height="100" width="100" loading="lazy">
			</picture>
			<p>
				<label>
					<input type="range" class="hi" min="-5" max="5" value="" name="selectSdg_<%= selectedSdg.number %>" list="values">
				</label>
				<datalist id="values">
					<option value="-5" label="-5"></option>
					<option value="-4" label=""></option>
					<option value="-3" label=""></option>
					<option value="-2" label=""></option>
					<option value="-1" label=""></option>
					<option value="0" label="0"></option>
					<option value="1" label=""></option>
					<option value="2" label=""></option>
					<option value="3" label=""></option>
					<option value="4" label=""></option>
					<option value="5" label="5"></option>
				</datalist>
			</p>
		</article>
    <% }); %>
	<footer>
		<a href="/klant-toevoegen-sdgs"> < Terug</a>
		<div>
			<button class="overslaan-button play-sound-button" type="button" id="overslaan-button">Overslaan</button>
			<button class ="submit-button" type="submit" id="submit-button">Kies deze scores</button>
			<audio id="clickSound"src="/202313__7778__click-2.mp3" preload="auto"></audio>
		</div>
	</footer>
</form>




