
<%- include('./partials/head', {current:'dashboard'})%>
<%- include('partials/nav') %>

<main>
    <header>
        <h1>Dashboard</h1>
        <p>Let's check your progress</p>   
    </header>

    <section>
        <article>
            <h3><%= company.name %></h3>
            <p>Deelgenomen januari X</p>
            <p>X medewerkers</p>

            <img src="#" alt="profiel">
        </article>
        <article>
            <div><img src="#" alt="nieuw"></div>
            <p>Nieuw</p>
        </article>
    </section>

    <section class="set-up">
        <h2>Begin met opzetten</h2>
        <label> Beginner
            <progress id="file" value="32" max="100"> 32% </progress>
        </label>
        <i>Info over hoe de badge gehaald kan worden</i>
            <ol>
                <li><h3>1. Stakeholders</h3>
                    <i>Info over hoe stakeholders werken</i>
                </li>
                <li>
                    <h3>2. SDG's</h3>
                <i>Info over hoe sdg's werken</i>
                </li>
                <li>
                    <h3>3. Scores</h3>
                    <i>Info over hoe scores op sdg's werken</i>
                </li>
            </ol>
    </section>

    <section class="stakeholders">
        <h2>Stakeholders</h2>
        <i>Info over hoe stakeholders werken</i>

        <article>
            <header>
                <h3>Klanten</h3>
                <p>Voeg nog 2 klanten toe*</p>
            </header>
            <ul>
                <% if (stakeholder.name) { %> 
                <!-- En een for each wanneer er klanten zijn uitgekozen na de vragenlijst zoiets kan veranderd worden-->
                <li>
                    <a href="/gegevens-form/<%= company.name %>">
                        <h4><%= stakeholder.name %></h4>
                        <i>info over deze klant</i>
                        <img src="blabla/<%= stakeholder.avatar %>" alt="">
                    </a>
                </li>
                <% } %>
                <li>
                    <a href="/gegevens-form/<%= company.name %>">voeg klant toe</a>
                </li>
            </ul>
        </article>
        <article>
            <header>
                <h3>Leveranciers</h3>
                <p>Voeg nog 2 leveranciers toe*</p>
            </header>
            <ul>
                <% if (stakeholder.name) { %> 
                <!-- En een for each wanneer er klanten zijn uitgekozen na de vragenlijst zoiets kan veranderd worden-->
                <li>
                    <a href="/gegevens-form/<%= company.name %>">
                        <h4><%= stakeholder.name %></h4>
                        <i>info over deze leveranciers</i>
                        <img src="blabla/<%= stakeholder.avatar %>" alt="">
                    </a>
                </li>
                <% } %>
                <li>
                    <a href="/gegevens-form/<%= company.name %>">voeg leveranciers toe</a>
                </li>
            </ul>
        </article>
        <article>
            <header>
                <h3>Financiers</h3>
            </header>
            <ul>
                <% if (stakeholder.name) { %> 
                <!-- En een for each wanneer er klanten zijn uitgekozen na de vragenlijst zoiets kan veranderd worden-->
                <li>
                    <a href="/gegevens-form/<%= company.name %>">
                        <h4><%= stakeholder.name %></h4>
                        <i>info over deze financier</i>
                        <img src="blabla/<%= stakeholder.avatar %>" alt="">
                    </a>
                </li>
                <% } %>
                <li>
                    <a href="/gegevens-form/<%= company.name %>">voeg financier toe</a>
                </li>
            </ul>
        </article>
        
        <article>
            <header>    
                <h3>Medewerkers</h3>
            </header>
            <ul>
                <% if (stakeholder.name) { %> 
                <!-- En een for each wanneer er klanten zijn uitgekozen na de vragenlijst zoiets kan veranderd worden-->
                <li>
                    <a href="/gegevens-form/<%= company.name %>">
                        <h4><%= stakeholder.name %></h4>
                        <i>info over deze medewerkers</i>
                        <img src="blabla/<%= stakeholder.avatar %>" alt="">
                    </a>
                </li>
                <% } %>
                <li>
                    <a href="/gegevens-form/<%= company.name %>">voeg medewerkers toe</a>
                </li>
            </ul>
        </article>

        <article>
            <header>
                <h3>Omgeving</h3>
            </header>
            <ul>
                <% if (stakeholder.name) { %> 
                <!-- En een for each wanneer er klanten zijn uitgekozen na de vragenlijst zoiets kan veranderd worden-->
                <li>
                    <a href="/gegevens-form/<%= company.name %>">
                        <h4><%= stakeholder.name %></h4>
                        <i>info over deze omgeving</i>
                        <img src="blabla/<%= stakeholder.avatar %>" alt="">
                    </a>
                </li>
                <% } %>
                <li>
                    <a href="/gegevens-form/<%= company.name %>">voeg omgeving toe</a>
                </li>
            </ul>
        </article>
    </section>
</main>
<%- include('./partials/foot')%>
