<%- include('partials/head') %>
<%- include('partials/nav') %>
<main>
    <link rel="stylesheet" href="/styles/dashboard.css">
<header> 
    <h1>Overview</h1>
</header>

<section class="company-summary" id="company-summary">
    <div class="company-background"></div>
    <div class="company-information">
        <picture>
            <source srcset="https://fdnd-agency.directus.app/assets/<%= company.logo %>?format=avif&height=75&width=275" type="image/avif">
            <source srcset="https://fdnd-agency.directus.app/assets/<%= company.logo %>?format=webp&height=75&width=275" type="image/webp">
            <img src="https://fdnd-agency.directus.app/assets/<%= company.logo %>" height="75" width="275">
        </picture>
        <p> mumbo jumbo the gracious fumble cookie crumble </p>
        This supermarket sells the highest quality code snippets that you snort to get high on code.
    </div>
    <div class="profile-status">
        <label><progress class="profile-status-bar" max="100" value="10"></progress></label>
    </div>
</section>

<article class="company-status">
    <label>Your company score <progress class="points" max="100" value="40"></progress> </label>
</article>

<section class="stakeholders-list" id="stakeholders-list">
    <h2>Stakeholders</h2>
    <% stakeholder.forEach(stakeholder => { %>
<article class="stakeholder">
    <div class="stakeholder-background"></div>
    <div class="stakeholder-information">
        <picture>
            <source srcset="https://fdnd-agency.directus.app/assets/<%= stakeholder.avatar %>?format=avif&height=75&width=75" type="image/avif">
            <source srcset="https://fdnd-agency.directus.app/assets/<%= stakeholder.avatar %>?format=webp&height=75&width=75" type="image/webp">
            <img src="https://fdnd-agency.directus.app/assets/<%= stakeholder.avatar %>" height="75" width="75">
        </picture>
        <h3><%= stakeholder.name %></h3>
        <p><%= stakeholder.type %></p>
    </div>
    <div class="stakeholder-status">
        <progress class="points" max="100" value="20"></progress>
    </div>
    <div class="sdg-list">
        <ul>
            <% sdgs.forEach(sdg => { %>
                <li> <picture>
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=avif&height=65&width=65" type="image/avif">
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=webp&height=6&width=65" type="image/webp">
                    <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" height="65" width="65" alt="<%= sdg.title %>">
                </picture></li>
            <% }); %>
        </ul>
    </div>
    <button class="edit">Edit</button>
</article>
<% }); %>
<article>
    <a href="#"></a>
</article>
</section> 

</main>
<%- include('partials/foot') %>