<%- include('partials/head', {current: 'vragenlijst'}); %>
<%- include('partials/vragenlijst_header', {current: 'done'}); %>
<main class="overview">
    <div>
        <h2>Overzicht</h2>
        <i>Info over overzicht</i>
    </div>

    <details open>
        <summary>Geselecteerde sdgs</summary>
        <article>   
            <div class="sdgs selected">
                <%- include('partials/selected-overview-sdgs'); %>
            </div>
        </article>
        <button type="button">verander</button>
    </details>
    <hr>
    <details open>
        <summary>SDG scores</summary>
        <article>
            <div class="sdgs selected">
                <%- include('partials/score-overview'); %>
            </div>
        </article>
        <button type="button">verander</button>
    </details>
    <button type="submit">submit</button>
</main>
<footer></footer>
<%- include('partials/foot') %>